stages:
  - build

before_script:
  - bash -c pwd
  - whoami
  - set

##############################################################################
# Win10 - ARM, GCC_ARM and IAR
##############################################################################
.win10-ARM:
  stage: build
  tags:
    - mti-win10
  script:
    - bash -ex cy-build.sh win ARM

win10-GCC_ARM:
  stage: build
  tags:
#    - mti-win10
#    - WIN
    - capsense
  script:
    - bash -ex -o igncr cy-build.sh

.win10-IAR:
  stage: build
  tags:
    - mti-win10
  script:
    - bash -ex cy-build.sh win IAR

##############################################################################
# Ubuntu18 - ARM and GCC_ARM
##############################################################################
.ubuntu18-ARM:
  stage: build
  tags:
    # see DEVOPS-304 - devops-linux
    - gitlab_runner-001
  script:
    - bash -ex cy-build.sh ubuntu ARM
  # Ignore linkage failure due to undefined symbols
  allow_failure: true

.ubuntu18-GCC_ARM:
  stage: build
  tags:
    # see DEVOPS-304 - devops-linux
    - gitlab_runner-001
  script:
    - bash -ex cy-build.sh ubuntu GCC_ARM

##############################################################################
# Mac - GCC_ARM
##############################################################################
.mac10.14-GCC_ARM:
  stage: build
  tags:
    - mti-mac10.14
  script:
    - bash -ex cy-build.sh mac GCC_ARM

